@{
    var item = Sitecore.Context.Database.GetItem("{DB7BDA20-D20B-475D-B572-A122F290453C}");
}

<div class="text-white bg-primary">
    <p class="lead">@Html.Sitecore().Field("Copyright", item)<p>
</div>